
.list-providers .stats {
    color: var(--color-text-darken);
    font-size: 1em;
    font-family: monospace;
}
.list-providers .stats strong {
    color: var(--color-text);
}

.table-providers td.stats {
    color: var(--color-text-header);
    font-size: 1em;
    font-family: monospace;
    text-align: center;
}

.list-providers li {
    margin-bottom: 10px;
}
.list-providers a {
    font-family: monospace;
}

.table-providers td a {
    font-size: 0.9em;
    font-family: monospace;
}

.table-providers th {
    font-size: 0.9em;
    color: var(--color-text-header);
}

.table-providers tr:hover {
    background: var(--color-bk);
}
