body, html {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 16px;
}

@media (max-width: 800px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 799px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 640px) {
  span.mdiv {
    display: block;
    text-align: center;
    line-height: 1.5em;
  }
}

.accent {
  color: var(--color-accent) !important;
}
.warning {
  color: var(--color-warning) !important;
}
.padded {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.m20 {
  margin-bottom: 20px !important;
}
.darken {
  color: var(--color-grey) !important;
}
    
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: var(--color-body);
    box-shadow: 0px 2px 4px #888;
    width: 100%;
  }

  header.testnet {
    box-shadow: 0px 2px 4px red;
  }


  .inner {
    margin: 0px auto;
  }

  main > div > div.inner,
  body > div > div.inner {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }  
  
  @media (min-width: 960px) {
    main > div > div.inner,
    body > div > div.inner {
      padding-top: 70px;
      padding-bottom: 50px;
    }  
  }
  
  .inner .mid {
    flex: 1;
  }
  
  @media (min-width: 960px) {
    .inner {
      max-width: 1024px;
    }
    header .inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .content {
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 20px;
  }

  .pre-footer {
    height: 50px;
  }
  
  footer {
    background: var(--color-body);
    color: var(--color-text);
  }
  footer.testnet {
    border-top: 2px red solid;
  }

  @media (min-width: 640px) {
    footer {
      width: 100vw;
      position: fixed;
      bottom: 0;
    }
    footer .inner {
      max-width: 1024px;
      margin: 10px auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  
  footer .copyright {
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
  }
  
  .nav-brand {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }
  .nav-brand__label {
    color: var(--color-text);
    font-size: 1em;
    font-weight: 900;
    text-align: center;
  }
  .nav-brand__slogan {
    display: none;
    color: var(--color-accent);
  }
  
  @media (min-width: 960px){
    .nav-brand__label {
      font-size: 2.5em;
      text-align: left;
    }
    .nav-brand__slogan {
      display: block;
      text-align: left;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
      color: #666;
  }
  
  h1 {
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
  }
  
  @media (min-width: 960px){
    h1 {
      font-size: 2.5em;
    }
  }

  p.note {
    font-size: 0.66rem;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .well {
    background: var(--color-well);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px #e4e4e9;
    border-radius: 5px;
  }
  .well h1, .well h2, .well h3, .well h4 {
    margin-top: 0px;
    color: #444;
  }
  
.pct {
  white-space: nowrap;
}
.amt {
  padding-left: 10px;
}

.big-title,
h2.big-title,
h3.big-title {
  font-size: 27px;
  line-height: 35px;
  font-weight: 300;
  color: var(--color-text);
}
strong.big-title {
  font-weight: 900;
}

.cell-title,
h2.cell-title,
h3.cell-title  {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-cell-title);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0px;
}

label.cell-title {
  display: block !important;
  text-align: left !important;
}

.border-t {
  border-top: 1px solid var(--color-cell-border); 
  box-sizing: border-box;
}

.cell-t {
  min-height: 96px;
  padding: 16px 0;
  border-top: 1px solid var(--color-cell-border); 
  box-sizing: border-box;
}

.cell {
  min-height: 96px;
  padding: 16px 10px;
  box-sizing: border-box;
}

.bordered-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.bordered-box {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.bordered-left {
  width: 32px;
  min-width: 16px;
  border-width: 1px;
  border-right-width: 0;
  border-style: solid;
  border-color: var(--color-panel-border);
}

.bordered-right {
  width: 32px;
  min-width: 16px;
  border-width: 1px;
  border-left-width: 0;
  border-style: solid;
  border-color: var(--color-panel-border);
}

.bordered-title {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  color: var(--color-panel-title) !important;
  padding-left: 20px;
  padding-right: 20px;
}

.bordered-content ul {
  margin-top: 0px;
  padding-top: 0px;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-bottom: 36px;
}
.bordered-content ul li {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

.eth-address,
* .eth-address {
  font-size: 10px;
  font-family: monospace !important;
  font-weight: normal;
  color: var(--color-grey);
}
.eth-address .ens,
* .eth-address .ens {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: none !important;
}
@media (min-width: 480px) {
  .eth-address {
    font-size: 12px;
  }
}
@media (min-width: 640px) {
  .eth-address {
    font-size: 14px;
  }
}

table.table {
  width: 100%;
  margin: 20px 0px;
  border-collapse: collapse;
}

table.table tbody td {
  color: var(--color-cell-title);
  line-height: 1.5rem;
}

table.table thead th {
  line-height: 2rem;
  border-bottom: 2px solid var(--color-cell-border);
}

table.table thead th.l,
table.table tbody td.l {
  text-align: left !important;
}

table.table thead th.r,
table.table tbody td.r {
  text-align: right !important;
}

table.table thead th.c,
table.table tbody td.c {
  text-align: center !important;
}

table.table tbody td.dt {
  width: 80px;
  font-size: 12px;
}

table.table tbody td.entry {
  padding-left: 5px;
  font-size: 14px;
}

table.table tbody tr:nth-child(odd) {
  background-color: var(--color-body);
}

.enough_power {
  font-weight: bold;
}

.badges {
  text-decoration: none !important;
  font-size: 12px;
}

.badge {
  display: inline-block;
  line-height: 1.5;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 0.75em;
  background: var(--color-panel-title);
  color: var(--color-bk-highlight);
}

.badge-supporter {
  background: #a0ff00;
  color: #000;
}
.badge-delegates {
  background: #f0af00;
  color: #000;
}
.badge-withdrawn {
  background: #ffa0a0;
  color: #000;
}

.badge-grant {
  background: #f0c0f0;
}

.badge-testnet {
  background: #ffa0a0;
  color: #000;
  text-transform: uppercase;
  margin-right: 5px;
}

.badge-not-staking {
  background: #ffffa0;
  color: #444;
}
.badge-unstaking {
  background: #ffefc0;
  color: #000;
}

.badge-primary {
  background: #d3acbe;
  color: #000;
}
.badge-secondary {
  background: #ffefc0;
  color: #000;
}

a.icon {
  display: inline-block;
}

.link-icon {
  fill: var(--color-link);
}

input {
  min-width: 50px;
  background-color: transparent;
  font-weight: 500;
  border-width: 0;
  outline: none;
  color: var(--color-white);
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px #c3c4c3 solid;
}
input:focus {
  box-shadow: none;
  color: var(--color-white);
}

.hd {
  padding: 10px 0px;
}

.dash-row {
  display: flex;
  justify-items: center;
  max-width: 960px;
  margin: 0px auto;
}

.dash-col-100 {
  flex: 1;
  text-align: center;
}
.dash-col-3 {
  flex: 1;
  text-align: center;
}

button, input[type="submit"] {
  background-color: transparent;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border-width: 1px;
  border-style: solid;
  outline: none;
  cursor: pointer;
  padding: 17px;
  font-size: 1rem;
}

button:disabled,
input[type="submit"]:disabled {
  color: #666;
  cursor: disabled;
}

button.primary,
input.primary[type="submit"]
{
  border-image-source: linear-gradient(270deg,#7ce3cb,#7963b2);
  border-image-slice: 1;
}

.button-wrapper:hover {
  transform: scale(1.02);
}
.button-wrapper .underline {
  margin-top: 4px;
  height: 1px;
  width: 100%;
  background: linear-gradient(270deg,#7ce3cb,#7963b2);
}

.button-wrapper .underline.disabled {
  background: #666;
}
.input-warn {
  color: var(--color-error);
  font-size: 0.8rem;
}

.results-error {
  max-width: 480px; 
  margin: 0px auto;
  text-align: center;
  color: var(--color-error);
  font-size: 0.8rem;
}

.results-status-details,
.results-status {
  max-width: 480px;
  margin: 0px auto; 
  text-align: center;
  color: var(--color-accent);
}
.results-status-details {
  font-size: 0.8rem;
}
.results-status {
  padding-top: 30px;
}

.panel-results {
  margin: 0px auto;
  margin-top: 40px;
  max-width: 960px;
  padding: 0px 15px;
}
.panel-results ol li {
  font-family: monospace;
  word-break: break-word;
  white-space: pre;
}

.panel-results li.err {
  color: var(--color-error);
}

.top-static {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  background: var(--color-bk-highlight);
}

.panel-flex {
  margin: 0px auto;
  max-width: 960px;
  display: flex;
  align-items: center;
}

.panel-flex .primary {
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-link {
  text-decoration: underline;
  padding: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-link);
  display: block;
  line-height: 2rem;
  border: none;
  font-size: 0.9rem;
}

.mandatory {
  color: var(--color-link);
}

.extended-filtration {
  position: relative;
}
.at-right {
  position: absolute; 
  top: 0px;
  right: 0px;
}